{% if page.comments %}

    <!-- Message inviting everyone to comment -->
    <div class="discuss">
        If you liked this post, have any questions or fancy having a good discussion, please leave a comment below, or 
        <a href = "mailto:drewATdrewsilcockDOTcoDOTuk" 
           onclick = "this.href=this.href
                      .replace(/AT/,'&#64;')
                      .replace(/DOT/,'&#46;')
                      .replace(/DOT/,'&#46;')"
        >send me an email.</a>
    </div>

    <!-- Add Disqus comments -->
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'drewsilcock'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
{% endif %} 
